:root {
    /* font-size */
    --fs-xsm: 10.24px;
    --fs-sm: 12.8px;
    --fs-xxmd: 14px;
    --fs-xmd: 17px;
    --fs-md: 16px;
    --fs-xxxlg: 18px;
    --fs-xxlg: 20px;
    --fs-xlg: 24px;
    --fs-lg: 32px;
    --fs-xl: 36px;
    --fs-xxl: 48px;
    --fs-xxxl: 64px;
    --fs-xxxxl: 144px;
    /* font-color */
    --fc-black: #000000;
    --fc-primary-black: #4d4d4d;
    --fc-gray: #eeeeee;
    --fc-primary-gray: #f0f0f0;
    --fc-white: #fff;
    --fc-primary-white: #dcdcdc;
    --fc-blue: #010080;
    --fc-green: #d2da60;
    --fc-primary-green: #d7e167;
    --fc-pink: #8a3e74;
    --fc-purple: #9003e5;
    --fc-linear-purple1: #9104e5;
    --fc-linear-purple2: #f93b96;
    --fc-linear-yellow1: #f9af0a;
    --fc-linear-yellow2: #92aa61;
    --fc-linear-blue1: #1798bc;
    --fc-linear-blue2: #0185d3;
    --fc-linear-primary-blue1: #7142a2;
    --fc-linear-primary-blue2: #b31376;
}

@media(min-width:576px) {
    .m-heading {
        --fs-lg: 48px;
    }

    .digital-paint {
        --fs-xxmd: 18px;
    }

    .decnstruction {
        --fs-xlg: 36px;
    }

    .residential {
        --fs-md: 35px;
    }

    .lorem2 {
        --fs-xxmd: 18px;
    }

    .counting {
        --fs-xl: 48px;
    }
    .lorem3{
        --fs-sm:18px;
    }
         .lorem4 {
             --fs-sm: 18px;
         }
        

}
@media(min-width:768){
    .counting {
            --fs-xl: 64px;
        }
    
        .residential {
            --fs-md: 48px;
        }
}

@media(min-width:1200px) {
    .counting {
        --fs-xl: 58px;
    }

    .residential {
        --fs-md: 46px;
    }
}
@media(min-width:1240px) {
    .counting {
        --fs-xl: 64px;
    }

    .residential {
        --fs-md: 46px;
    }
}

@media(min-width:992px) and (max-width:1200px) {
    .digital-paint {
        --fs-xxmd: 9px;
    }

    .decnstruction {
        --fs-xlg: 16px;
    }
    
}

@media(min-width:1200px) and (max-width:1800px) {
    .digital-paint {
        --fs-xxmd: 14px;
    }

    .decnstruction {
        --fs-xlg: 25px;
    }
}